<!doctype html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .container {
          position: relative;
          top: -16px;
          left: -50px;
          font-family: Arial;
        }
        
        .text-block {
          position: absolute;
          top: 30px;
          left: 30px;
          color: white;
          padding-left: 40px;
          padding-right: 20px;
        }
        </style>
    </head>

{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <div class="container">
        <img src="https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg" alt="alt text" style="width:118.2%;">
        <div class="text-block">
          <h4>About</h4>
          <p>This web project was created as a freestyle project from my programming in python class</p>
          <p>The web project fulfills the needs of those users who would like to test out their trading</p>
          <p>strategies/theories without actually have to put their real money on the line</p>
        </div>
    </div>

{% endblock %}
</html>