{% extends "bootstrap_layout2.html" %}
{% set active_page = "dashboard" %}

{% block content %}


            <h1>Welcome {{username}}</h1>
            <br>
            <p1>Current Positions</p1>
            <br>
            <br>
            <table style="width:100%">
                <!-- table header -->
                {% if results %}
                <tr>
                   {% for item in results[0] %}
                   <th> {{ item }} </th>
                   {% endfor %}
                </tr>
                {% endif %}
              
                <!-- table rows -->
                {% for dict_item in results %}
                <tr>
                   {% for value in dict_item.values() %}
                   <td> {{ value }} </td>
                   {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <br>
            <br>
            <p1>Current Cash Value: {{value}}</p1>
            <br>
            <p1>Current Positions Value: {{value2}}</p1>
            <br>
            <p1>Current Account Value: {{value3}}</p1>

{% endblock %}